* {
  overflow-y: none;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 20, 20);
  margin: 0;
}

#menu {
  height: 100vh;
  display: flex;
  align-items: center;
}

.menu__item {
  color: #fff;
  font-size: clamp(3rem, 8vw, 8rem);
  font-family: "Ibarra Real Nova", serif;
  display: inline-block;
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  transition: opacity 400ms ease;
  /* align-self: flex-start; */
}

#menu__items {
  margin-inline-start: clamp(4rem, 20vw, 48rem);
  position: relative;
  display: flex;
  z-index: 2;
  flex-direction: column;
  /* align-items: flex-start; */
}

#menu__items:hover>.menu__item {
  opacity: 0.2;
}

#menu__items:hover>.menu__item:hover {
  opacity: 1;
}

.menu__header-pattern {
  background-image: radial-gradient( rgba(255, 255, 255, 0.1) 9%, transparent 9%);
  background-position: 0 0;
  background-size: 12vmin 12vmin;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  transition: opacity 800ms ease, background-size 800ms ease, background-position 800ms ease;
  width: 100vw;
  z-index: 1;
}

#menu>.menu__header-pattern {
  background-position: 0% calc(-25% * (var(--active-index, 0) + 1));
}

#menu__items:hover~.menu__header-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}

#menu>#menu-background-image {
  background-position: center calc(45% + 5% * var(--active-index, 0));
}

.credits {
  color: #fff;
  padding-block-start: 1.25rem;
  text-align: center;
}

.credits>a {
  color: #fff;
}